UseColor: true

Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cppcoreguidelines-macro-usage,
    -hicpp-signed-bitwise,
    -hicpp-exception-baseclass,
    -readability-function-cognitive-complexity,
    -google-runtime-references
HeaderFilterRegex: ".*/[common|logging]/.*"
