[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
guidelines = 80, 100
end_of_line = lf

[*.{css,html,html.in,yml,rb}]
indent_style = space
indent_size = 2
