# Ignore all bazel-* symlinks.
/bazel-*

# Visual Studio 2015/2017 cache/options directory
.vs/
.idea/

# Build directories
build/
_build/
cmake-build*/

# Mac garbage
.DS_Store

#vagrant
.vagrant

#vscode
.vscode
