[submodule "third_party/spdlog"]
  path = third_party/spdlog
  url = https://github.com/gabime/spdlog.git
[submodule "third_party/catch2"]
  path = third_party/catch2
  url = https://github.com/catchorg/Catch2.git
[submodule "common"]
  path = common
  url = https://github.com/abdes/asap_common.git
[submodule "filesystem"]
  path = filesystem
  url = https://github.com/abdes/asap_filesystem.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "logging"]
	path = logging
	url = https://github.com/abdes/asap_logging.git
[submodule "third_party/gsl"]
	path = third_party/gsl
	url = https://github.com/microsoft/GSL.git
